@{
    ViewBag.Title = "Заказ блюда";
}

<div id="submenu">
    <div class="col-md-9">
        <div class="col-md-3 t-label">
            <!--ko ifnot: IsCurrentWeek-->
            <input type="button" value="Перейти на текущую неделю" id="curweek" class="btn btnaddmenu" data-bind=" click: GoToCurrentWeekOrder " />
            <!--/ko-->
            <!--ko if: IsCurrentWeek-->
            <span class="navlink">Текущая неделя </span>
            <!--/ko-->
        </div>
        <div class="col-md-6 " style="float: right; margin-right: 20px; vertical-align: middle; width: 500px; height: 40px; margin: 3px">
            <!--ko if: CanCreateOrderOnNextWeek-->
            <!--ko if: IsNextWeekYear-->
            <label class="label-success" style="font-size: 18px; color: whitesmoke; padding: 7px; -ms-border-radius: 5px; border-radius: 5px">Редактирование заказа на следующую неделю </label>
            <!--/ko-->
            <!--ko ifnot: IsNextWeekYear-->
            <input type="button" id="btnaddmenu" class="btn btnaddmenu enabled" value="Редактировать заказ на следующую неделю" data-bind=" click: GoToNextWeekOrder" />
            <!--/ko-->
            <!--/ko-->
        </div>
    </div>
</div>

<div class="main_content_background">
    <div class="main_content">
        <div class="row">
            <div class="col-md-3 ">
                <div class="input-group date form-control" id="datepick" data-provide="datepicker" data-bind="datepicker: myDate">
                </div>
            </div>
            <div class="col-md-9  object-non-visible" data-animation-effect="fadeIn" style="margin-left: 0">
                <div class="panel panel-default" id="mfwPanel">
                   
                    <table class="table table-striped table-bordered table-responsive table-condensed table-hover" id="updateTable">
                        <thead>
                            <tr>
                                <th class="t-header col-sm-1"><span>День недели</span></th>
                                <th class="t-header col-sm-2"><span>Категория блюда</span></th>
                                <th class="t-header col-sm-7"><span>Название</span></th>
                                <th class="t-header col-sm-1"><span>Заказать</span></th>
                                <th class="t-header col-sm-2" colspan="2"><span>Стоимость</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--ko foreach: UserDayOrders -->
                            <tr>
                                <td style="vertical-align: middle; text-align: center">
                                    <span data-bind="text: $root.DaysOfWeek()[$index()]"></span>
                                </td>
                                <td>
                                    <!-- ko foreach: Dishes-->
                                    <div style="border-bottom: 1px solid; text-align: right">
                                        <span data-bind="text: Category() + ' : '"></span>
                                    </div>
                                    <!--/ko-->
                                </td>
                                <td>
                                    <!-- ko foreach: Dishes-->
                                    <div style="border-bottom: 1px solid;">
                                        <span data-bind="text: $data.Title"></span>
                                    </div>
                                    <!--/ko-->
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <!--ko if: OrderCanByChanged-->
                                    <!--ko foreach: Dishes-->
                                    <!--ko with: OrderQuantity-->
                                    @*<div style="border-bottom: 1px solid;" data-bind="singleClick: function(){$data.clicked($element)}, event : { mouseenter: onmouseenter , mouseleave:function(){$data.onFocusOut(); if($data.beenChanged()){$root.BeenChanged(true); $root.update($parents[1],$index()+1,$data.Quantity()); } }}">*@
                                    <div style="border-bottom: 1px solid;" data-bind="singleClick: function(){$data.clicked($element)}, event : { dblclick: doubleClick }, tooltip: {title: 'DoubleClick For Edit', placement: 'top',container: 'body'}">

                                        <!--ko ifnot: isEditMode -->
                                        <span data-bind=" text: Quantity">
                                        </span>
                                        <!--/ko-->
                                        <!-- ko if: isEditMode -->
                                        <!-- ko if: ($index() % 4 === 0) -->
                                        <select class="input-small" data-bind="options: $root.FirstCourseValues, value: Quantity,hasFocus:isEditMode,event:{focusout: function(){$data.onFocusOut(); if($data.beenChanged()){$root.BeenChanged(true); $root.update($parents[1],$index()+1,$data.Quantity()); } }}"></select>
                                        <!--/ko-->
                                        <!-- ko ifnot: ($index() % 4 === 0) -->
                                        <select class="input-small" data-bind="options: $root.QuantValues, value: Quantity,hasFocus:isEditMode,event:{focusout: function(){$data.onFocusOut(); if($data.beenChanged()){$root.BeenChanged(true); $root.update($parents[1],$index()+1,$data.Quantity()); } }}"></select>
                                        <!--/ko-->
                                        <!--/ko-->
                                    </div>
                                    <!--/ko-->
                                    <!--/ko-->
                                    <!--/ko-->
                                    <!--ko ifnot: OrderCanByChanged-->
                                    <!--ko foreach: Dishes-->
                                    <!--ko with: OrderQuantity-->
                                    <div style="border-bottom: 1px solid;">
                                        <span data-bind="text: Quantity"></span>
                                    </div>
                                    <!--/ko-->
                                    <!--/ko-->
                                    <!--/ko-->
                                </td>
                                <td style="text-align: right">
                                    <!--ko foreach: Dishes-->
                                    <div>
                                        <span data-bind="text:  Price" style="border-bottom: 1px solid"></span><br />
                                    </div>
                                    <!--/ko-->
                                </td>
                                <td style="text-align: right; vertical-align: middle; height: 100%">
                                    <span data-bind="text: DayOrderSummary"></span>
                                </td>

                            </tr>
                            <!--/ko-->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" style="text-align: right"><span style="font-weight: bold">Итого</span></td>
                                <td><span data-bind="text: WeekSummaryPrice" style="font-weight: bold"></span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="modalMessage" class="modal">

    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 data-bind="text: Title"></h1>
                </div>
                <div class="modal-body">
                    @*<input type="text" data-bind="value: Message" />*@
                    <span data-bind="text: Message"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/EmployeeInfo")

<script type="text/javascript">
    (function () {
        $("#updateTable").css("maxHeight", "700px")
        .parents('.banner-caption').css({ "top": "11%" });

        $("#pageTable").height("350px");
        $("#modalbox").offset({ top: 100 });

    })();
</script>

