@{
    ViewBag.Title = "Заказ блюда";
}

    <div id="submenu">
        <table class="table table-responsive">
           <tbody>
            <tr>
                <td class="navlink" data-bind="text: CurNextTitle"></td>
                <td class="t-label"  style="width: 40%; padding: 2px;">
                    <input type="button" value="Перейти на текущую неделю" id="curweek" class="btn btnaddmenu" data-bind=" click: GoToCurrentWeekOrder, visible: !IsCurrentWeek() " />
                </td>
                <td class="t-label"  style="width: 40%; padding: 2px;">
                    <input type="button" id="btnaddmenu" class="btn btnaddmenu enabled" value="Редактировать заказ на следующую неделю" data-bind=" click: GoToNextWeekOrder,visible: !IsNextWeekYear() && NextWeekOrderExist()" />
                </td>
                <td class="navlink" data-bind="text: 'Ваш текущий баланс: ' + Balance().toFixed(2)"></td>
            </tr>
            </tbody>
        </table>
    </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3 ">
                    <div class="input-group date form-control" id="datepick" data-provide="datepicker" data-bind="datepicker: myDate">
                    </div>
                    <div class="input-group date form-control" id="dishDesc">
                        <span class="navlink glyphicon glyphicon-info-sign"></span>
                        <span class="navlink" style="vertical-align: top; padding-left: 15px; border-bottom: 2px solid royalblue;">Описание блюда</span>
                        <label data-bind="text: HoverDesciption"></label>
                    </div>
                </div>
                <div class="col-sm-9  object-non-visible" data-animation-effect="fadeIn">
                    <div class="panel panel-default" id="mfwPanel">

                        <table class="table table-striped table-bordered table-responsive table-condensed table-hover" id="updateTable">
                            <thead>
                                <tr>
                                    <th class="t-header col-sm-1"><span>День недели</span></th>
                                    <th class="t-header col-sm-2"><span>Категория блюда</span></th>
                                    <th class="t-header col-sm-7"><span>Название</span></th>
                                    <th class="t-header col-sm-1"><span>Заказать</span>
                                        <div id="ordButtonsDiv" class="  btn-group-sm" style="padding-top: 3px;">
                                            <button type="button" class="btn-circle btn-xs btn-default" data-bind="click: allbyone,visible: IsNextWeekYear()||IsCurrentWeek(), tooltip: {title: 'Заказать всё по одному', placement: 'left',container: 'body'}" style="float: left; padding-right: 2px;">
                                                <span class="glyphicon glyphicon-pencil" style="font-size: 8px">1</span>
                                            </button>
                                            <button type="button" class="btn-circle btn-xs btn-defaul" data-bind="click: setasprev,visible: IsNextWeekYear()||IsCurrentWeek(),tooltip: {title: 'Заказать всё как на прошлой неделе', placement: 'right',container: 'body'}" style="float: right; padding-left: 2px;">
                                                <span class="glyphicon glyphicon-backward" style="font-size: 8px"></span>
                                            </button>
                                        </div>
                                    </th>
                                    <th class="t-header col-sm-2" colspan="2"><span>Стоимость</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--ko foreach: UserDayOrders -->
                                <tr>
                                    <td style="vertical-align: middle; text-align: center">
                                        <span data-bind="text: DayName"></span>
                                    </td>
                                    <td>
                                        <!-- ko foreach: Dishes-->
                                        <div style="border-bottom: 1px solid; text-align: right" data-bind=" hover: isHovering,  css: { menu_hover : isHovering}">
                                            <span data-bind="text: Category() + ' : '"></span>
                                        </div>
                                        <!--/ko-->
                                    </td>
                                    <td>
                                        <!-- ko foreach: Dishes-->
                                        <div style="border-bottom: 1px solid;" data-bind=" hover: isHovering,  css: { menu_hover : isHovering}">
                                            <span data-bind="text: $data.Title"></span>
                                        </div>
                                        <!--/ko-->
                                    </td>
                                    <td style="vertical-align: middle; text-align: center;" data-bind="click: function(){$root.checkallowedit($data.OrderCanByChanged());}">
                                        <!--ko if: OrderCanByChanged-->
                                        <!--ko foreach: Dishes-->
                                        <!--ko with: OrderQuantity-->
                                        <div style="border-bottom: 1px solid;" data-bind="singleClick: function(){$data.clicked($element); }, event : { mouseover: doubleClick,  mouseleave: function(){ hasFocus=false}},  css: { menu_hover : $parent.isHovering}">
                                            <!--ko ifnot: isEditMode -->
                                            <span data-bind=" text: Quantity">
                                            </span>
                                            <!--/ko-->
                                            <!-- ko if: isEditMode -->
                                            <!-- ko if: ($index() % 4 === 0) -->
                                            <select class="input-small" data-bind="options: $root.FirstCourseValues, value: Quantity, hasFocus:isEditMode, event:{focusout: function(){$data.onFocusOut(); if($data.beenChanged()){$root.BeenChanged(true); $root.update($parents[1],$index()+1,$data.Quantity()); } }}"></select>
                                            <!--/ko-->
                                            <!-- ko ifnot: ($index() % 4 === 0) -->
                                            <select class="input-small" data-bind="options: $root.QuantValues, value: Quantity , hasFocus:isEditMode, event:{focusout: function(){$data.onFocusOut(); if($data.beenChanged()){$root.BeenChanged(true); $root.update($parents[1],$index()+1,$data.Quantity()); } }}"></select>
                                            <!--/ko-->
                                            <!--/ko-->
                                        </div>
                                        <!--/ko-->
                                        <!--/ko-->
                                        <!--/ko-->
                                        <!--ko ifnot: OrderCanByChanged-->
                                        <!--ko foreach: Dishes-->
                                        <!--ko with: OrderQuantity-->
                                        <div style="border-bottom: 1px solid;">
                                            <span data-bind="text: Quantity"></span>
                                        </div>
                                        <!--/ko-->
                                        <!--/ko-->
                                        <!--/ko-->
                                    </td>
                                    <td style="text-align: right">
                                        <!--ko foreach: Dishes-->
                                        <div data-bind=" hover: isHovering,  css: { menu_hover : isHovering}">
                                            <span data-bind="text:  Price" style="border-bottom: 1px solid"></span><br />
                                        </div>
                                        <!--/ko-->
                                    </td>
                                    <td style="text-align: right; vertical-align: middle; height: 100%">
                                        <span data-bind="text: DayOrderSummary"></span>
                                    </td>

                                </tr>
                                <!--/ko-->
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" style="text-align: right !important" class="t-header"><span style="font-weight: bold">Итого</span></td>
                                    <td class="t-header"><span data-bind="text: WeekSummaryPrice" style="font-weight: bold"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

<div id="modalMessage" class="modal">

    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 data-bind="text: Title"></h1>
                </div>
                <div class="modal-body">
                    <span data-bind="text: Message"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="emailComfirm" class="modal">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Сообщение</h1>
                </div>
                <div class="modal-body">
                    <span>Адреса Вашей електронной почты нет в информации о доменной учётной записи.</span>
                    <span>Заполните поле ниже актуальным электронным адресом для получения сообщений от администрации столовой.</span>
                    <input type="text" data-bind="value:Email, hasFocus:true">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bind="click: applyEmail">Ok</button>
                    <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/EmployeeInfo")

<script type="text/javascript">
    (function () {
        $("#updateTable").css("maxHeight", "700px")
        .parents('.banner-caption').css({ "top": "11%" });

        $("#pageTable").height("350px");
        $("#modalbox").offset({ top: 100 });

    })();
</script>

