@{
    ViewBag.Title = "Заказ блюда";
}

<hr />
<div class="row">
    <div class="col-md-3 ">
        <div class="input-group date form-control" id="datepick" data-provide="datepicker" data-bind="datepicker: myDate">
        </div>
    </div>
    <div class="col-md-9  object-non-visible" data-animation-effect="fadeIn" style="margin-left: 0">
        <div class="panel panel-default" id="mfwPanel">
            <table>
                <tbody>
                <tr style="background: #565659;">
                    <td >
                        <div class ="col-md-3">
                            <input type="button" value="Перейти на текущую неделю" id="curweek" class="btn" data-bind=" click:SetMyDateByWeek((CurrentWeekYear())) , css:{ disabled: IsCurrentWeek}" />
                        </div>
                    </td>
                    <td>
                        <div class="col-md-4">
                            <input type="button" value="Сохранить изменения" id="beenChanged" class="btn btn-warning" data-bind=" click:update , visible: BeenChanged" />
                        </div>
                    </td>
                    <td >
                        <div class="col-md-3 "style="float: right; margin-right: 170px;">
                            <input type="button" id="btnaddmenu" class="btn" data-bind=" click: GoToNextWeekOrder ,value: MessageOnNextWeekButton,css:{disabled: IsNextWeekYear}" />
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-responsive table-condensed table-hover" id="updateTable">
                <thead>
                <tr>
                    <th class="col-sm-1">День недели</th>
                    <th class="col-sm-2">Категория блюда</th>
                    <th class="col-sm-7">Название</th>
                    <th class="col-sm-1">Заказать</th>
                    <th class="col-sm-2" colspan="2">Стоимость</th>
                </tr>
                </thead>
                <tbody>
                <!--ko foreach: UserDayOrders -->
                <tr>
                    <!--ko with: MenuForDay-->
                    <td style="vertical-align: middle; text-align: center">
                        <span data-bind="text: DayOfWeek"></span>
                    </td>
                    <td>
                        <!-- ko foreach: Dishes-->
                        <div style="border-bottom: 1px solid; text-align: right">
                            <span data-bind="text: $data.Category() + ' : '"></span>
                        </div>
                        <!--/ko-->
                    </td>
                    <td>
                        <!-- ko foreach: Dishes-->
                        <div style="border-bottom: 1px solid;">
                            <span data-bind="text: $data.Title"></span>
                        </div>
                        <!--/ko-->
                    </td>
                    <td style="vertical-align: middle; text-align: center;">
                        <!--ko foreach: Dishes-->
                        <div style="border-bottom: 1px solid;" data-bind="singleClick: function(){$data.OrderQuantity().clicked($element)}, event : { mouseenter: $data.OrderQuantity().onmouseenter , mouseleave:function(){$data.OrderQuantity().onFocusOut();; $root.CalcSummary($data.OrderQuantity().beenChanged())}}">
                            <!--, tooltip: {title: 'DoubleClick For Edit', placement: 'left'}-->
                            <!--ko ifnot: OrderQuantity().isEditMode -->
                            <span data-bind="text: OrderQuantity().Quantity"></span>
                            <!--/ko-->
                            <!-- ko if: OrderQuantity().isEditMode -->
                            <!-- ko if: ($index() % 4 === 0) -->
                            <!-- ko with: OrderQuantity-->
                            <select class="input-small" data-bind="options: $root.FirstCourseValues, value: Quantity, event:{focusout: function(){$data.onFocusOut(); $root.CalcSummary($data.beenChanged())} }"></select>
                            <!--/ko-->
                            <!--/ko-->
                            <!-- ko ifnot: ($index() % 4 === 0) -->
                            <!-- ko with: OrderQuantity-->
                            <select class="input-small" data-bind="options: $root.QuantValues, value: Quantity, event:{focusout:  function(){$data.onFocusOut(); $root.CalcSummary($data.beenChanged())} }"></select>
                            <!--/ko-->
                            <!--/ko-->
                            <!--/ko-->
                        </div>
                        <!--/ko-->
                    </td>
                    <td style="text-align: right">
                        <!--ko foreach: Dishes-->
                        <div>
                            <span data-bind="text:  Price" style="border-bottom: 1px solid"></span><br/>
                        </div>
                        <!--/ko-->
                    </td>
                    <!--/ko-->
                    <td style="text-align: right; vertical-align: middle; height: 100%">
                        <span data-bind="text: DayOrderSummary"></span>
                    </td>

                </tr>
                <!--/ko-->
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" style=" text-align: right"><span style="font-weight: bold">Итого</span></td>
                        <td ><span data-bind="text: WeekSummaryPrice" style="font-weight: bold"></span></td>
                    </tr>
</tfoot>
            </table>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/ViewModel")
@Scripts.Render("~/bundles/EmployeeInfo")

<script type="text/javascript">
    (function () {
        $("#updateTable").css("maxHeight", "700px")
        .parents('.banner-caption').css({ "top": "11%" });

        $("#pageTable").height("350px");
        $("#modalbox").offset({ top: 100 });

    })();
</script>

