
@{
    ViewBag.Title = "AccountManagement";
}
<div  style="background: transparent"><h2>Управление пользователями</h2></div>
<div class="panel panel-default" id="mfwPanel">

    <table class="table table-striped table-bordered fixed  table-hover" id="accountsTable" style="text-align: center">
       
        <tbody>
        <tr>
            <th>№</th>
            <th colspan="4">Ф.И.О.</th>
            <th colspan="3">Email</th>
            <th colspan="2">Дата последнего входа</th>
            <th colspan="2">Дата регистрации</th>
            <th colspan="2">Баланс</th>
            <th colspan="2">Может делать заказ</th>
            <th colspan="2">Удалён из системы</th>
        </tr>
        <!-- ko foreach: pagedList-->
        <tr>
            <td><span data-bind="text: $root.pageIndex()*$root.pageSize()+$index() + 1"></span></td>
            <td colspan="4"><span data-bind="text: FullName"></span></td>
            <td colspan="3"><span data-bind="text: Email"></span></td>
            <td colspan="2"><span data-bind="text: LastLoginTime"></span></td>
            <td colspan="2"><span data-bind="text: RegistrationDate"></span></td>
            <td colspan="2"><span data-bind="text: Balance"></span></td>
            <td colspan="2">
                <div class="checkbox-btn" style="vertical-align: middle">
                    <input type="checkbox" data-bind="checked: CanMakeBooking, value: CanMakeBooking, attr:{id: 'acc' + $index(),name: 'acc' + $index()}" />
                    <label data-bind=" attr:{'for': 'acc' + $index()}"></label>
                </div>
            </td>
            <td colspan="2">
                <div class="checkbox-btn" style="vertical-align: middle">
                    <input type="checkbox" data-bind="checked: !IsExisting(), value: !IsExisting, attr:{id: 'accex' + $index(), name: 'accex' + $index()}" />
                    <label data-bind="attr:{'for': 'accex' + $index()}"></label>
                </div>
            </td>
        </tr>
         <!--/ko-->
        </tbody>
        <tfoot>
        <tr>
            @*<td></td>*@
            <td >
                <button type="button" class="btn btn-default btn-circle" data-bind="click: previousPage, css:{disabled: pageIndex() === 0}">
                    <span class="glyphicon glyphicon-hand-left"> Предыдущая</span>
                </button>
            </td>
            <td colspan="5" style="-moz-min-width: 200px; -ms-min-width: 200px; -o-min-width: 200px; -webkit-min-width: 200px; min-width: 200px">
                <div style="text-align: center">
                    <span class="glyphicon ">Страница </span>
                    <span class="label-info " data-bind=" text: pageIndex()+1"></span>
                    <span> из </span>
                    <span class="label-info " data-bind=" text: maxPageIndex()+1"></span>

                </div>
            </td>
            <td colspan="2">
                <button type="button" class="btn btn-default btn-circle" data-bind="click: nextPage, css:{disabled: pageIndex() === maxPageIndex()}" style="float: left">
                    <span class="glyphicon glyphicon-hand-right"> Следующая</span>
                </button>
            </td>
            <td colspan="10">
                <div>
                    <span> Отображать </span>
                    <select class="input-sm" data-bind="options: $root.PageSizes, value: pageSize"></select>
                    <span> элементов на странице</span>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
@Scripts.Render("~/bundles/AccountsInfo")