@{
    ViewBag.Title = "Orders";
}

<div class="col-md-9   col-sm-12 col-xs-12 object-non-visible" data-animation-effect="fadeIn">
    <div class="panel panel-default" id="mfwPanel">

        <table class="table table-striped table-bordered table-responsive table-condensed table-hover" id="ordesTable">
            <thead>
            <tr>
                <th class="col-sm-5">Понедельник</th>
                <th class="col-sm-1">" "</th>
                <th class="col-sm-2">Вторник</th>
                <th class="col-sm-1">" "</th>
                <th class="col-sm-6">Среда</th>
                <th class="col-sm-1">" "</th>
                <th class="col-sm-2">Четверг</th>
                <th class="col-sm-1">" "</th>
                <th class="col-sm-2">Пятница</th>
            </tr>
            <tr data-bind="">
                
            </tr>
            </thead>
            <tbody>
            
            </tbody>
            </table>
</div>
</div>

