@{
    ViewBag.Title = "Index";
}

<div class="col-xs-4 col-md-11 pull-left " style="padding-left: 50px">
    <div class="panel panel-default" id="mfwPanel">
        <table class="table table-striped table-bordered table-responsive  table-condensed table-hover" style=" width: 950px;">
            <tbody>
                <!--ko ifnot: WorkingDaysAreSelected-->
                <tr style="vertical-align: middle;">
                    <td style="white-space: nowrap"><label style="line-height: 24px">Рабочие дни : </label></td>
                    <!--ko foreach: MFD_models-->
                    <td>
                        <div class="checkbox-btn" style="vertical-align: middle; white-space: nowrap">
                            <!-- ko text: $index()--><!-- /ko--> 
                            <input type="checkbox" data-bind="checked: IsWorking, value: IsWorking, attr:{id: 'rc' + $index(),name: 'rc' + $index()}" /> 
                            <label data-bind="text: $root.DayNames()[$index()], attr:{'for': 'rc' + $index()}"></label>
                        </div>
                    </td>
                    <!-- /ko-->
                </tr>
                <!--/ko-->
                <tr style="background: #565659;">
                    <td colspan="3" style="border-right-style: none;">
                        <div style="vertical-align: middle; width: 200px; height: 40px;">
                            <!--ko ifnot: IsCurrentWeekYear-->
                            <input type="button" value="Перейти на текущую неделю" class="btn btnaddmenu" data-bind=" click: GoToNexCurrentWeekMenu" />
                            <!--/ko-->
                            <!--ko if: IsCurrentWeekYear-->
                            <label class="label-success" style="font-size: 18px; color: whitesmoke; padding: 7px; -ms-border-radius: 5px; border-radius: 5px;  margin: 5px;">Текущая неделя </label>
                            <!--/ko-->
                        </div>
                    </td>

                    <td colspan="4" style="text-align: center; vertical-align: middle; border-right-style: none; border-left-style: none;">
                        <!--ko ifnot: WorkingDaysAreSelected-->
                        <div style="vertical-align: middle; width: 100%">
                            <input type="button" value="Подтвердить рабочие дни" class="btn btn-info" id="btWorkDays" data-bind=" click: WorkWeekApply "/>
                        </div>
                        <!--/ko-->
                        <!--ko if: WorkingDaysAreSelected-->
                        <!--ko ifnot: OrderCanBeCreated-->
                        <div style="width: 100%">
                            <input type="button" class="btn btn-warning" value="Подтвердить возможность заказа по меню" data-bind="click:SetAsOrderable"/>
                        </div>
                        <!--/ko-->
                        <!--/ko-->
                    </td>
                    <td colspan="3" style="text-align: center; vertical-align: middle; border-left-style: none;">
                        <div style="float: right; width: 100%">
                            <!--ko ifnot: IsNextWeekYear-->
                            <!--ko if: IsNextWeekMenuExists-->
                            <input type="button" class="btn btnaddmenu enabled" value="Перейти к меню на следующую неделю" data-bind="click:GoToNextWeekMenu" />
                            <!--/ko-->
                            <!--ko ifnot: IsNextWeekMenuExists-->
                            <input type="button" class="btn btnaddmenu enabled" value="Создать меню на следующую неделю" data-bind="click:CreateNextWeekMenu" />
                            <!--/ko-->
                            <!--/ko-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-bordered table-responsive table-condensed table-hover" id="updateTable" style="font-size: 1.2em; text-align: center; width: 950px">
            <colgroup>
                <col class="col-md-1" />
                <col class="col-md-2" />
                <col class="col-md-3" />
                <col class="col-md-1" />
                <col class="col-md-1" />
                <col class="col-md-2" />
            </colgroup>
            <thead style="background-color: #70E7E8">

                <tr>
                    <th style="vertical-align: middle; text-align: center">День недели</th>
                    <th style="vertical-align: middle; text-align: center">Категория блюда</th>
                    <th style="vertical-align: middle; text-align: center">Название</th>
                    <th colspan="2" style="vertical-align: middle; text-align: center">Стоимость</th>
                    <th style="vertical-align: middle; text-align: center">Описание</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: MFD_models">
            <tr>
                <!--ko if: IsWorking-->
                <td style="vertical-align: middle; text-align: center">
                    <span data-bind="text: $root.DayNames()[$index()]"></span>
                </td>
                <td class="weekmenu" data-bind="foreach: Dishes">
                    <div style="border-bottom: 1px solid; text-align: right" data-bind=" hover: isHovering,  css: { menu_hover : isHovering}, click: function(){$parents[1].showDishes($data, $parentContext.$index())}">
                        <span data-bind="text: $data.Category() + ' : '"></span>
                    </div>
                </td>
                <td class="weekmenu" data-bind="foreach: Dishes">
                    <div style="border-bottom: 1px solid" data-bind=" hover: isHovering,  css: { menu_hover : isHovering}, click: function(){$parents[1].showDishes($data, $parentContext.$index())}">
                        <span data-bind="text: Title"></span>
                        <button type="button" class="glyphicon glyphicon-pencil btn-success btn-xs" data-bind=" visible: $parent.Editing, click: function(){$parents[1].showDishes($data, $parentContext.$index())}" style="float: right; max-height: 25px; width: 70px;"></button>

                    </div>
                </td>
                <td class="weekmenu" data-bind="foreach: Dishes" style="text-align: right; vertical-align: middle">
                    <div data-bind=" hover: isHovering,  css: { menu_hover : isHovering}, click: function(){$parents[1].showDishes($data, $parentContext.$index())}">
                        <span data-bind="text: Price" style="border-bottom: 1px solid; padding: 5px;"></span><br/>
                    </div>
                </td>
                <td style="text-align: center; vertical-align: middle; height: 100%">
                    <span data-bind="text: TotalPrice"></span>
                </td>
                <td class="weekmenu" style="text-align: center; vertical-align: middle; height: 100%" data-bind=" foreach: Dishes">
                    <div data-bind=" hover: isHovering,  css: { menu_hover : isHovering}, tooltip: {title: Description, placement: 'right',container: 'body'}">
                        <span data-bind="text: '...'" style="text-align: left; width: 100%; border-bottom: 1px solid; padding: 5px"></span>
                    </div>
                </td>
                <!--/ko--> 
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align: right"><span>Итого :</span></td>
                    <td style="text-align: center; vertical-align: middle; height: 100%">
                        <span data-bind="text: SummaryPrice"></span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="modalbox" class="modal ">
        <div class="modal-dialog">
            <div class="panel panel-default">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Выберите <span data-bind="text:Category"></span> </h1>
                    </div>
                    <div class="modal-body">
                        <table class="table table-condensed table-striped table-bordered pre-scrollable" id="pageTable">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Название</th>
                                <th>Стоимость</th>
                                <th>Выбрать</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach:pagedList">
                            <tr>
                                <td>
                                    <span data-bind="text: $parent.pageIndex() * $parent.pageSize() + $index() + 1"></span>
                                </td>
                                <td>
                                    <span data-bind="text:Title"></span>
                                </td>
                                <td>
                                    <span data-bind="text:Price"></span>
                                </td>
                                <td>
                                    <div class="radio-btn">
                                        <input type="radio" name="dishGroup" data-bind="checked: $parent.SelectedDish,checkedValue : DishId, click: $parent.changeSelected, attr:{id: 'dbc' + $index(),name: 'dbc' + $index()}"/>
                                        <label data-bind=" attr:{'for': 'dbc' + $index()}" style="color: #54ECD2; font-size: 18px;"></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default btn-circle" data-bind="click: previousPage, css:{disabled: pageIndex() === 0}">
                                        <span class="glyphicon glyphicon-hand-left"> Предыдущая</span>
                                    </button>
                                </td>
                                <td colspan="2">
                                    <div>
                                        <div style="text-align: center">
                                            <ul class="pagination pagination-lg">
                                                <li data-bind=" foreach: allPages">
                                                    <button type="button" class="btn btn-default btn-circle" data-bind=" click: function() { $parent.moveToPage($data.pageNumber-1)  }, css: { active: $data.pageNumber === ($parent.pageIndex() + 1) }">
                                                        <span class="glyphicon" data-bind="text: $data.pageNumber"></span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-circle" data-bind="click: nextPage, css:{disabled: pageIndex() === maxPageIndex()}">
                                        <span class="glyphicon glyphicon-hand-right"> Следующая</span>
                                    </button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bind="click: applyChanges">Ok</button>
                        <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalMessage" class="modal">

    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 data-bind="text: Title"></h1>
                </div>
                <div class="modal-body">
                    <span data-bind="text: Message"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>

    @Scripts.Render("~/bundles/MenuForWeek")


    <script type="text/javascript">
        (function () {
            $(".pre-scrollable").css("maxHeight", "700px")
            .parents('.banner-caption').css({ "top": "11%" });

            $("#pageTable").height("350px");
            $("#modalbox").offset({ top: 100 });

            $("#modalMessage").offset({ top: 200 });

        })();
    </script>


