@using Microsoft.AspNet.Identity
@{
    string fullname = "";
    if (Session["Fname"] != null && Session["Lname"] != null)
    {
        fullname = string.Format("{0} {1}", Session["Lname"], Session["Fname"]);
    }
    else
    {
        fullname = User.Identity.GetUserName();
    }
}
@if (Request.IsAuthenticated && Session["Fname"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Здравствуйте, " + fullname + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="@Url.RouteUrl(new { action = "LogOff", controller = "Account", area = "" })">Выйти</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#Modal" data-whatever="/Account/Register">Регистрация</a></li>
        <li><a href="#" data-toggle="modal" data-target="#Modal" data-whatever="/Account/Login">Выполнить вход</a></li>
    </ul>
}
